<div class="container">
	<div class="row" style="padding-top: 75px;position:absolute;width:100%;height:100%;padding-left:0px;">
		<div class="col-md-7 col-md-offset-1">
			<div class="w-title">WiZer</div>
			<div class="well">
				<div class="form-group">
			      	<input class="form-control floating-label w-text" id="user" placeholder="Username" ng-model="login.username" material-input>
		   		</div>

		   		<div class="form-group">
			      	<input type="password" class="form-control floating-label w-text" id="pass" placeholder="Password" ng-keypress="enterLogin($event)" ng-model="login.password" material-input>
		   		</div>
			   	
			   	<button class="btn w-button" ng-click="login()" material-ripple>{{ loginStatus }}<div class="ripple-wrapper"></button>
			</div>
	   	</div>
   	</div> 
</div>