<div>
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">New Node</h3>
        </div>
        <br>
        <div class="modal-body" style="margin-top:10px;">
			<div class="form-group-material-blue form-group">
		      	<input class="form-control floating-label w-text" id="user" placeholder="Name" ng-model="name" material-input>
	   		</div>

	   		<div>
		 		Access Key: {{ key }}
	   		</div>
        </div>
        <div class="modal-footer">
       	 	<button class="btn btn-warning" ng-click="cancel()"style="margin-bottom: 20px">Cancel</button>
            <button class="btn btn-primary" ng-click="ok()" style="margin-bottom: 20px">OK</button>
        </div>
    </script>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-material-light-blue">
				<div class="panel-heading" style="padding-bottom:10px">
					Nodes
					<div class="pull-right" style="font-size:16px;cursor: pointer;" ng-click="new()">+</div>
				</div>
				<div class="panel-body">
				<table class="table table-hover table-condensed">
				    <thead>
				      <tr>
				        <th class="col-md-4">Name</th>
				        <th>Key</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="node in nodes">
				        <td class="col-md-4">{{node.name}}</td>
				        <td>{{node.key}}</td>
				      </tr>
				    </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-material-blue">
				<div class="panel-heading" style="padding-bottom:10px">
					Users
				</div>
				<div class="panel-body">
				<table class="table table-hover table-condensed">
				    <thead>
				      <tr>
				        <th class="col-md-4">Name</th>
				        <th>Username</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="user in users">
				        <td class="col-md-4">{{user.name}}</td>
				        <td>{{user.username}}</td>
				      </tr>
				    </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
</div>