<div>
	<script type="text/ng-template" id="networkWizardPageOne.html">
        <div class="modal-header">
            <h3 class="modal-title">Analyze Networks</h3>
        </div>
        <div class="modal-body" style="margin-top:10px;">
			<div class="form-group-material-blue form-group">
		      	<input class="form-control floating-label w-text" id="user" placeholder="Name" ng-model="name" material-input>
	   		</div>

	   		<div>
		 		API Key: 
	   		</div>
        </div>
        <div class="modal-footer">
        	<button class="btn btn-warning" ng-click="cancel()" style="margin-bottom: 20px">Cancel</button>
            <button class="btn btn-primary" ng-click="next()" style="margin-bottom: 20px">Next</button>
        </div>
    </script>
    <script type="text/ng-template" id="networkWizardPageTwo.html">
        <div class="modal-header">
            <h3 class="modal-title">Wifi Wizard 2</h3>
        </div>
        <div class="modal-body" style="margin-top:10px;">
			<div class="form-group-material-blue form-group">
		      	<input class="form-control floating-label w-text" id="user" placeholder="Name" ng-model="name" material-input>
	   		</div>

	   		<div>
		 		API Key: 
	   		</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="next()">Next</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-material-indigo" edgeless-panel>
				<div class="panel-heading">Observable Networks <div class="pull-right" style="font-size:16px;cursor: pointer;" ng-click="pageone()"><i class="fa fa-magic"></i></div></div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group-material-indigo form-group" style="width:25%; float: left">
			      			<input class="form-control form-group-material-indigo floating-label" id="search" placeholder="Search" ng-model="search" material-input>
			      		</div>
			      		<div class="form-group-material-indigo form-group" style="float: right" ng-init="freq=4">
			      			<span><input type="radio" name="type" ng-model="freq" value="2.4" aria-label="...">&nbsp;&nbsp;2.4 GHZ&nbsp;&nbsp;</span>
			      			<span><input type="radio" name="type" ng-model="freq" value="5.4" aria-label="...">&nbsp;&nbsp;5 GHZ&nbsp;&nbsp;</span>
			      			<span><input type="radio" name="type" ng-model="freq" value="4" checked="checked" aria-label="...">&nbsp;&nbsp;All&nbsp;&nbsp;</span>
			      		</div>
	   				</div>
					<table class="table table-hover table-condensed">
					    <thead>
					      <tr>
					        <th style="cursor: pointer;" ng-click="predicate = 'SSID'; reverse=!reverse">SSID <span style="font-size:12px">▼</span></th>
					        <th>BSSID</th>
					        <th style="cursor: pointer;" ng-click="predicate = 'signal'; reverse=!reverse">Gain <span style="font-size:12px">▼</span></th>
					        <th>Channel</th>
					        <th style="cursor: pointer;" ng-click="predicate = 'cypher'; reverse=!reverse" >Cipher <span style="font-size:12px">▼</span></th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="network in allNetworks | filter:search | filter:{'std': freq}:true | orderBy:predicate:reverse" style="font-size: 10px">
					        <td>{{ network.SSID }}</td>
					        <td>{{ network.BSSID }}</td>
					        <td>{{ network.signal }}</td>
					        <td>{{ network.channel }}</td>
					        <td>{{ network.cypher }}</td>
					      </tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</<div>